# Name: OpenCV Match Template Plugin
# Description:
# Author: Elton Rexhepaj
# Plugins , "SME Stacking - WIDE FIELD", SME_PROJECTION_SRC.SME_Plugin_Simple_BFIELD
# Plugins , "SME Stacking - CONFOCAL", SME_PROJECTION_SRC.SME_Plugin_Simple_CONF
Plugins, "SME Stacking", SME_PROJECTION_SRC.SME_Plugin_Simple