# Name: OpenCV Match Template Plugin
# Description:
# Author: Elton Rexhepaj
Plugins> SME Plugin Simple , "SME Plugin ENS 3D==>2D Projection", SME_PROJECTION_SRC.SME_Plugin_Simple
Plugins> SME Plugin Advanced, "SME Plugin ENS 3D==>2D Projection :: Manifold Computation", SME_PROJECTION_SRC.SME_Plugin_Get_Manifold
Plugins> SME Plugin Advanced , "SME Plugin ENS 3D==>2D Projection :: Manifold Application", SME_PROJECTION_SRC.SME_Plugin_Apply_Manifold